<div class="container-fluid">
  <mat-toolbar color="primary" class="mt-3">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>work</mat-icon>
    </button>
    <span>Visa Information</span>
    <span class="example-spacer"></span>
    <button (click)=" clickAddVisa()" type="button" mat-raised-button color="primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    Add Visa <fa-icon [icon]="faCirclePlus" class="plus-icon"></fa-icon>
  </button>
  </mat-toolbar>
  <div class="row">

    <div class="col">
      <!-- Button trigger modal -->
      <!-- <div class="modal-search">
        Search     [(ngModel)]="searchId"
        <input type="search" [(ngModel)]="searchId" placeholder="Enter search text..." id="example-search-input">
      </div> -->
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Visa Information</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> <!--(ngSubmit)="onSubmit()"-->
              <form [formGroup]="visaDetail">
                <!-- <div class="formgroup">
                  <label for="projectName" class="form-label">Visa_Id</label>
                  <input formControlName="visaId"  type="text" class="form-control" id="projectName" placeholder="Enter visaNo"> -->
                <!-- <div *ngIf="addProject.controls['projectName'].invalid &&(addProject.controls['projectName'].dirty || addProject.controls['projectName'].touched) ">
                      <small *ngIf="addProject.controls['projectName'].errors?.['required']" class="text-danger" >Project Name is required</small>
                      <small *ngIf="addProject.controls['projectName'].errors?.['minlength']" class="text-danger">Project Name Should be more than three characters</small>
                  </div>  -->
                <!-- </div> -->

                <div class="formgroup mt-3">
                  <label for="clientid" class="form-label">Transaction_Id<small>(only digits)</small></label>
                  <input formControlName="transactionId" type="text" class="form-control" id="clientid"
                    placeholder="Enter transactionId..">
                  <!-- <div *ngIf="addProject.controls['clientid'].invalid &&(addProject.controls['clientid'].dirty || addProject.controls['clientid'].touched) ">
                      <small *ngIf="addProject.controls['clientid'].errors?.['required']" class="text-danger" >Client Id is required</small>
                  </div> -->
                </div>

                <div class="formgroup mt-3">
                  <label for="clientEmail" class="form-label">Emp_Id</label>
                  <input formControlName="empId" type="email" class="form-control" id="clientEmail"
                    placeholder="Enter EmpId...">
                  <!-- <div *ngIf="addProject.controls['clientEmail'].invalid &&(addProject.controls['clientEmail'].dirty || addProject.controls['clientEmail'].touched) ">
                      <small *ngIf="addProject.controls['clientEmail'].errors?.['required']" class="text-danger" >Client Email is required</small>
                      <small *ngIf="addProject.controls['clientEmail'].errors?.['email']" class="text-danger">Enter Valid Email Address</small>
                  </div> -->
                </div>

                <div class="formgroup mt-3">
                  <label for="clientName" class="form-label">visa_no</label>
                  <input formControlName="visaNo" type="text" class="form-control" id="clientName"
                    placeholder="Enter visaNo...">
                  <!-- <div *ngIf="addProject.controls['clientName'].invalid &&(addProject.controls['clientName'].dirty || addProject.controls['clientName'].touched) ">
                      <small *ngIf="addProject.controls['clientName'].errors?.['required']" class="text-danger" >Client Name is required</small>
                      <small *ngIf="addProject.controls['clientName'].errors?.['minlength']" class="text-danger">Client Name Should be more than three characters</small>
                  </div> -->

                  <div class="formgroup mt-3">
                    <label for="clientName" class="form-label">DateOfAllotment</label>
                    <input formControlName="dateOfAllowtment" type="text" class="form-control" id="clientName"
                      placeholder="Enter DateOfAllotment...">
                    <!-- <div *ngIf="addProject.controls['clientName'].invalid &&(addProject.controls['clientName'].dirty || addProject.controls['clientName'].touched) ">
                        <small *ngIf="addProject.controls['clientName'].errors?.['required']" class="text-danger" >Client Name is required</small>
                        <small *ngIf="addProject.controls['clientName'].errors?.['minlength']" class="text-danger">Client Name Should be more than three characters</small>
                    </div> -->

                    <div class="formgroup mt-3">
                      <label for="clientName" class="form-label">PERIOD</label>
                      <input formControlName="period" type="text" class="form-control" id="clientName"
                        placeholder="Enter PERIOD...">
                      <!-- <div *ngIf="addProject.controls['clientName'].invalid &&(addProject.controls['clientName'].dirty || addProject.controls['clientName'].touched) ">
                            <small *ngIf="addProject.controls['clientName'].errors?.['required']" class="text-danger" >Client Name is required</small>
                            <small *ngIf="addProject.controls['clientName'].errors?.['minlength']" class="text-danger">Client Name Should be more than three characters</small>
                        </div> -->
                    </div>
                    <div class="modal-footer mt-2">
                      <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button mat-raised-button color="warn" *ngIf="showUpdate"
                        (click)="updateVisaById()">Update</button>
                      <!--(click)="updateVisa()"// (click)="addVisa()[disabled]="addProject.invalid"-->
                      <button type="button" *ngIf="showAdd" mat-raised-button color="primary" data-bs-dismiss="modal"
                        (click)="addVisa()">Add</button>
                    </div>

                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="container">
      </div>
      <table class="table mt-3">
        <thead>
          <tr>
            <th>s.no</th>
            <th>Visa_Id</th>
            <th>Transaction_Id</th>
            <th>Emp_Id</th>
            <th>visa_no</th>
            <th>DateOfAllotment</th>
            <th>PERIOD</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let vi of visaList; index as i">
            <td>{{i+1}}</td>
            <td>{{vi.visaId}}</td>
            <td>{{vi.transactionId}}</td>
            <td>{{vi.empId}}</td>
            <td>{{vi.visaNo}}</td>
            <td>{{vi.dateOfAllowtment}}</td>
            <td>{{vi.period}}</td>

            <!-- (click)= "openEdit1(visa)"   ///  (click)= "deleteVisa(vi)"-->
            <td> <button type="button" (click)=" clickAddVisa()" title="edit" (click)="OnEdit(vi)"
                class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">EDIT</button> </td>
            <td> <button type="button" title="delete" (click)="deleteVisa(vi)"
                class="btn  btn-danger mx-1">delete</button> </td>

          </tr>

        </tbody>
      </table>
    </div>

    <!-- <h1 *ngIf="projects.length === 0" class="length" >uh..! oh snap nothing found</h1>  -->

    <!-- viewById Modal -->
    <!-- <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{projectById.projectName}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item">Project Name : {{projectById.projectName }}</li>
            <li class="list-group-item">Client Id : {{projectById.clientId}}</li>
            <li class="list-group-item">Client Name : {{projectById.clientName }}</li>
            <li class="list-group-item">Client Email : {{projectById.clientEmail}}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
        </div>
      </div>
    </div>
  </div>
        -->