.mat-row:hover .mat-cell{
    background-color: #fff5a2;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
    padding: 20px;
  }
  th{
    background-color: cadetblue;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  .container{
    max-width: 1400px;
    margin:0 auto;
  }